@model Examen2.Models.Lists
@{
    ViewData["Title"] = "Eliminar Lista";

}

<h1>Eliminar</h1>
<h3>¿seguro que deseas eliminar esta lista?</h3>
<div>
    <h2>Lista de tareas</h2>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ListName)


        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ListName)

        </dd>
    </dl>
</div>

<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ListId" />
        <input type="submit" class="btn btn-danger" value="Eliminar" />
        <a asp-action="Index" class="btn btn-success">Regresar</a>

    </form>

</div>