@model Examen2.Models.ToDo
@{
    ViewData["Title"] = "Detalles";

}

<h1>Detalles</h1>
<dd>
    <div>
        <h4>Lista de tareas</h4>
        <hr />
        <dl class=" row">
            <dt class=" col-sm-1">

                @Html.DisplayNameFor(model => model.TareaName)



            </dt>


            <dd class=" col-sm-3">


                @Html.DisplayFor(model => model.TareaName)

    </div>


</dd>

        </dl>





<div>
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.TareaId">Editar</a>
    <a asp-action="Index" class="btn btn-success">Regresar</a>
</div>

